<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to the home page">CSE Motors</a>
  </span>
  <div id="tools">
    <ul>
      <% if (accountData) { %>
        <li><a href="/account/">Welcome <%= accountData.account_firstname %></a></li>
        <li><a href="/account/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/account/login">My Account</a></li>
      <% } %>
    </ul>
  </div>
</header>
