<h1>Inventory Management</h1>

<% if (message) { %>
  <div class="notice"><%= message %></div>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Inventory(Vehicle) Item</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to that classification.</p>
<label for="classificationList">Choose a Classification</label>
<select id="classificationList" name="classificationList">
  <%- classificationSelect %>
</select>

<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>